a.item {
    color: cornflowerblue;
    text-decoration: none;
}

a.item:hover {
    text-decoration: underline;
}

a.item:visited {
    color: cornflowerblue;
}

a.icon {
    text-decoration: none;
}

a:hover.icon {
    text-decoration: none;
}

b.done {
    color: lightseagreen;
    font-weight: bold;
}

b.impossible {
    color: salmon;
    font-weight: bold;
}

body {
    background-color: floralwhite;
    color: cornflowerblue;
    font-family: monospace;
}

button {
    font-family: monospace;
    font-size: large;
    margin: 10px;
}

div.topbar {
    align-items: center;
    background-color: cornflowerblue;
    display: flex;
    gap: 5px;
    height: 35px;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

div.topbar * {
    color: floralwhite;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

h1, h2 {
    padding: 0px 10px;
}

input {
    font-family: monospace;
}

li.done, li.done a {
    color: lightseagreen !important;
    font-weight: bold;
}

li.impossible, li.impossible a {
    color: salmon !important;
    font-weight: bold;
}

li.incomplete, li.incomplete a {
    color: cornflowerblue !important;
    font-weight: normal;
}

li.done-task, li.done-task a {
    color: lightseagreen !important;
    font-weight: bold;
}

li.impossible-task, li.impossible-task a {
    color: salmon !important;
    font-weight: bold;
}

li.incomplete-task, li.incomplete-task a {
    color: cornflowerblue !important;
    font-weight: normal;
}

li.random {
    list-style-type: none;
}

li.random:before {
    content: "❗ ";
}

span.icon-bar {
    opacity: 0.2;
    border: 1px;
    border-radius: 80px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

span.icon-bar:hover {
    opacity: 1;
    border: 1px solid white;
    border-radius: 80px;
    background-color: antiquewhite;
    padding: 5px;
}

span.icon-bar a {
    opacity: 0.5;
    text-decoration: none;
}

span.icon-bar a:hover {
    opacity: 1;
    text-decoration: none;
}

table {
    background-color: blanchedalmond;
    border-collapse: collapse;
    border-style: dashed;
    margin: 10px;
    width: 23%;
}

table.views {
    display: inline-table;
}

table.missions {
    width: 50%;
}

td {
    font-size: large;
    height: 20px;
    padding: 20px 10px;
}

td.description {
    border: 1px dashed black;
    font-size: medium;
    height: 220px;
    padding: 20px;
    vertical-align: top;
}

td.missions {
    border: 1px dashed black;
    font-size: medium;
    padding: 10px 20px;
    vertical-align: middle;
}

td.footer {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

th {
    font-size: large;
    height: 20px;
    padding: 20px 10px;
    text-align: right;
}

th.header {
    border: 1px dashed black;
    font-size: large;
    height: 30px;
    padding: 20px;
    text-align: center;
}
