{% extends 'base.html' %}
{% block title %}Embarc :: View adventure{% endblock %}
{% block content %}
        <table class="views">
            <thead>
                <tr>
                    <th class="header">
                        <b>{{adventure.name}}</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="description">{{adventure.description|linebreaksbr}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="footer">
                        {{adventure.percentage}}%
                        <progress value="{{adventure.percentage}}" max="100"></progress>
                        <a
                            class="icon"
                            href="{% url 'adventure_edit' id=adventure.id %}"
                            title="Edit"
                        >
                            ✏️
                        </a>
                        <a
                            class="icon"
                            href="{% url 'adventure_delete' id=adventure.id %}"
                            onclick="return confirm('Are you sure?')"
                            title="Delete"
                        >
                            ❌
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table class="views missions">
            <thead>
                <tr>
                    <th class="header">
                        <b>
                            Missions
                            <a
                                class="icon"
                                href="{% url 'mission_add' adventure_id=adventure.id %}"
                                title="Add"
                            >
                                ➕
                            </a>
                        </b>
                    </th>
                </tr>
            </thead>
            <tbody>
    {% for mission in adventure.missions.all %}
                <tr>
        {% if not mission.parent %}
                    <td class="missions">
                        <a class="item" href="{% url 'mission_edit' id=mission.id %}">
            {% if mission.completed == 'Y' %}
                            <b class="done">{{mission.name}}</b>
            {% elif mission.completed == 'I' %}
                            <b class="impossible">{{mission.name}}</b>
            {% else %}
                            {{mission.name}}
            {% endif %}
                        </a>
                        <a
                            class="icon"
                            href="{% url 'submission_add' parent_id=mission.id adventure_id=adventure.id %}"
                            title="Add mission"
                        >
                            ➕️
                        </a>
                        <a
                            class="icon"
                            href="{% url 'mission_duplicate' id=mission.id %}"
                            title="Duplicate"
                        >
                            📋
                        </a>
                        <a
                            class="icon"
                            href="{% url 'mission_delete' id=mission.id %}"
                            onclick="return confirm('Are you sure?')"
                            title="Delete"
                        >
                            ❌
                        </a>
                        <a
                            class="icon"
                            href="{% url 'mission_cycle' id=mission.id %}"
                            title="Cycle"
                        >
                            ♻️
                        </a>
                        <a
                            class="icon"
                            href="{% url 'mission_reset' id=mission.id %}"
                            title="Cycle"
                        >
                            🏁
                        </a>
            {% if mission.children.count > 0 %}
                        <ul class="items">
                {% for submission in mission.children.all %}
                            <li>
                                <a class="item" href="{% url 'mission_edit' id=submission.id %}">
                    {% if submission.completed == 'Y' %}
                                    <b class="done">{{submission.name}}</b>
                    {% elif submission.completed == 'I' %}
                                    <b class="impossible">{{submission.name}}</b>
                    {% else %}
                                    {{submission.name}}
                    {% endif %}
                                </a>
                                <a
                                    class="icon"
                                    href="{% url 'submission_add' parent_id=submission.id adventure_id=adventure.id %}"
                                    title="Add mission"
                                >
                                    ➕️
                                </a>
                                <a
                                    class="icon"
                                    href="{% url 'mission_delete' id=submission.id %}"
                                    onclick="return confirm('Are you sure?')"
                                    title="Delete"
                                >
                                    ❌
                                </a>
                                <a
                                    class="icon"
                                    href="{% url 'mission_cycle' id=submission.id %}"
                                    title="Cycle"
                                >
                                    ♻️
                                </a>
                    {% if submission.children.count > 0 %}
                                <ol class="items">
                        {% for task in submission.children.all %}
                                    <li>
                                        <a class="item" href="{% url 'mission_edit' id=task.id %}">
                            {% if task.completed == 'Y' %}
                                            <b class="done">{{task.name}}</b>
                            {% elif task.completed == 'I' %}
                                            <b class="impossible">{{task.name}}</b>
                            {% else %}
                                            {{task.name}}
                            {% endif %}
                                        </a>
                                        <a
                                            class="icon"
                                            href="{% url 'mission_delete' id=task.id %}"
                                            onclick="return confirm('Are you sure?')"
                                            title="Delete"
                                        >
                                            ❌
                                        </a>
                                        <a
                                            class="icon"
                                            href="{% url 'mission_cycle' id=task.id %}"
                                            title="Cycle"
                                        >
                                            ♻️
                                        </a>
                                    </li>
                        {% endfor %}
                                </ol>
                    {% endif %}
                            </li>
                {% endfor %}
                        </ul>
            {% endif %}
                    </td>
        {% endif %}
                </tr>
    {% endfor %}
            </tbody>
        </table>
{% endblock %}