{% extends 'base.html' %}
{% load static %}
{% block title %}Embarc :: Adventures{% endblock %}
{% block content %}
        <h2>Adventures <a class="icon" href="{% url 'adventure_add' %}" title="Add">➕</a></h2>
    {% for adventure in adventures %}
        <table class="views">
            <thead>
                <tr>
                    <th class="header">
                        <a class="item" href="{% url 'adventure_view' id=adventure.id %}"><b>{{adventure.name}}</b>️</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="description">{{adventure.description|linebreaksbr}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="footer">
                        {{adventure.percentage}}%
                        <progress value="{{adventure.percentage}}" max="100"></progress>
                        <a
                            class="icon"
                            href="{% url 'adventure_edit' id=adventure.id %}"
                            title="Edit"
                        >
                            ✏️
                        </a>
                        <a
                            class="icon"
                            href="{% url 'adventure_delete' id=adventure.id %}"
                            onclick="return confirm('Are you sure?')"
                            title="Delete"
                        >
                            ❌
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% endfor %}
        <a class="item" href="{% url 'mission_random' %}"><h2>Random Mission</h2></a>
{% endblock %}
