{% extends 'base.html' %}
{% load static %}
{% block title %}Embarc :: Random missions{% endblock %}
{% block content %}
    {% if missions %}
        {% for mission in missions %}
            <table class="views">
                <thead>
                    <tr>
                        <th class="header">
                            <a
                                    class="item"
                                    href="{% url 'adventure_view' id=mission.adventure.id %}"
                            >
                                <b>{{mission.adventure.name}}</b>
                            ️</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="description">
                            <b>{{mission.adventure.description|linebreaksbr}}</b>
                            <hr>
                            <br>
            {% if mission.parent %}
                {% if mission.parent.parent %}
                            {{mission.parent.parent.name}}
                            <ul>
                                <li>
                                    {{mission.parent.name}}
                                    <ol>
                                        <li class="random">
                                            {{mission.parent.parent.name}}
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                {% else %}
                            {{mission.parent.name}}
                            <ul>
                                <li class="random">
                                    <a class="item" href="{% url 'mission_edit' id=mission.id %}">{{mission.name}}</a>
                                </li>
                            </ul>
                {% endif %}
            {% else %}
                            <a class="item" href="{% url 'mission_edit' id=mission.id %}">❗ {{mission.name}}</a>
            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
            No missions found. Add some first, and revisit.
    {% endif %}
{% endblock %}
